body {
  background: url("../images/bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  background: #f7f7f7;
  width: 960px;
  min-height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;

}